{% extends 'emails/base_email.html.twig' %}
{% block body_html %}
    Hi {{ firstName }}
    <br><br>
    {% for job in jobs %}
        You recently applied for {{ (job.jobTitle is defined) ? job.jobTitle : '' }} job at a {{ (job.jse is defined and job.jse == true) ? 'Listed' : 'Unlisted' }} {{ (job.industry is defined) ? job.industry : '' }} business in {{ (job.city is defined) ? job.city : '' }}.
        <br><br>
    {% endfor %}
    Unfortunately, your application was not successful.
    <br><br>
    Please click <a href="{{ (link is defined) ? link : 'https://app.yes2work.co.za/candidate/declined_applications' }}">here</a> to log into your Yes2Work profile for more information.
    <br><br>
    Get hold of us on <a href="mailto:support@yes2work.co.za">support@yes2work.co.za</a> if you have any questions or feedback.
{% endblock %}
