Hey {{ name }},
<br><br>
{{ referralUser.firstName }} {{ referralUser.lastName }} has just registered their profile with <a href="{{ url }}">Yes2Work</a>. They think it’s awesome and thought that you may be interested in registering.
<br><br>
Yes2Work is an online platform established to help hard working and ambitious South African youth find their ideal work opportunities.
<br><br>
Click <a href="{{ url }}">here</a> and have a look around and register here free of charge.
<br><br>
Zanele<br>
Yes2Work