{% extends 'emails/base_email.html.twig' %}
{% block body_html %}
    Hi {{ user.firstName }}
    <br><br>
    You recently applied for {{ jobTitle }} job at a {{ (jse is defined and jse == true) ? 'Listed' : 'Unlisted' }} {{ industry }} business in {{ city }}.
    <br><br>
    Unfortunately, your application was not successful.
    <br><br>
    Please click <a href="{{ link }}">here</a> to log into your Yes2Work profile for more information.
    <br><br>
    Get hold of us on <a href="mailto:support@yes2work.co.za">support@yes2work.co.za</a> if you have any questions or feedback.
{% endblock %}
