{% extends 'emails/base_email_admin.html.twig' %}
{% block body_html %}
    A candidate, {{ candidate.firstName }} {{ candidate.lastName }} , has deactivated their profile.
    <br><br>
    Please make contact on <a href="mailto:{{ candidate.email }}">{{ candidate.email }}</a> or <a href="tel:{{ candidate.phone }}">{{ candidate.phone }}</a>
    <br><br>
    Please click <a href="{{ link }}">here</a> to view the candidate's profile.
{% endblock %}
